<div class="container pt-4">
	<h1><%= @recipe_type.name %></h1>
	<%= link_to 'Voltar', root_path, class: "btn btn-sm btn-outline-secondary" %>							
	<%= link_to 'Editar', edit_recipe_type_path, class: "btn btn-sm btn-outline-secondary" %>							
</div>
